<!--Form to create a new category   -->
{% extends 'layout.html'%} 
{% from "form_macros.html" import render_field %} 
{% block blk_main %}
<a href="{{url_for('category_list')}}" class="btn btn-sm btn-primary">Back</a>
<div>
    {% for message in form.title.errors %}
    <div>{{ message }}</div>
    {% endfor %}
</div>

<div>
    <form action="" method="POST" role="form">
        <legend>Create New Category:</legend>
        <div class="form-group">
            {{form.hidden_tag()}}
            {{form.title.label}}
            {{form.title}}
        </div>
        {{render_field(form.submit, class='btn btn-primary')}}
</div>
</form>


{% endblock %}