<!--Form to edit a category-->
{% extends 'layout.html'%} 
{% block blk_main %}
<a href="{{url_for('category_list')}}" class="btn btn-sm btn-primary">Back</a>
<div>
    {% for message in form.title.errors %}
    <div>{{ message }}</div>
    {% endfor %}
</div>

<div>
    <form action="" method="POST" role="form">
        <legend>Edit Category:</legend>
        <div class="form-group">
            {{form.hidden_tag()}}
            {{form.title.label}}
            {{form.title(size=100)}}
        </div>
        {{form.submit(class='btn btn-primary')}}
</div>
</form>


{% endblock %}