{% extends 'layout.html'%}
{% from "form_macros.html" import render_field %}
{% block blk_main %}
<a href="{{url_for('category_view', category_id = category_id)}}" class="btn btn-sm btn-primary">Back</a>
<header>
    <h2>Create Item </h2>
</header>
<section>
        <form action="" method="post">
                {{form.hidden_tag()}}
                <table>
                    {{ render_field(form.title, size=50) }}
                    {{ render_field(form.description, size=100) }}
                    {{ render_field(form.submit) }}
                </table>
            </form>
</section>
{% endblock %}